<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <EnvironmentName>Development</EnvironmentName>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <_SavePWD>false</_SavePWD>
    <_TargetId>IISWebDeploy</_TargetId>

    <MSDeployServiceURL>__SET_BY_CI__</MSDeployServiceURL>
    <DeployIisAppPath>__SET_BY_CI__</DeployIisAppPath>
    <UserName>__SET_BY_CI__</UserName>
  </PropertyGroup>
</Project>
